html,body,h1,h2,div{
    margin: 0;
    padding: 0;
    line-height: 1;
}
main{
    line-height: 2.0;
    font-size: 18px;
    width: 960px;
    margin: 0 auto;
}
main h1{
    margin: 20px 0 0 0;
    font-size: 40px;
    color: rgb(24, 195, 218);
}
main p{
    font-size: 18px;
    font-weight: bold;
    color: rgb(84, 214, 44);
}